# 資料庫
MONGODB_URI = mongodb://localhost/expense-tracker

#SESSION
SESSION_SECRET = 'ThisIsMySecret'

#FACEBOOK
FACEBOOK_ID = SKIP
FACEBOOK_SECRET = SKIP
FACEBOOK_CALLBACK = 'http://localhost:3000/auth/facebook/callback'