<h1 class="text-center">請輸入你的支出</h1>
<div class="mt-4 col-md-6 mx-auto">
    <form action="/records" method="POST">
        <div class="row mb-3">
            <label for="name" class="col-sm-2 col-form-label">名稱*：</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="name" id="name" required>
            </div>
        </div>
        <div class="row mb-3">
            <label for="date" class="col-sm-2 col-form-label">日期*：</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" name="date" id="date" required>
            </div>
        </div>
        <div class="row mb-3">
            <label for="category" class="col-sm-2 col-form-label">類別*：</label>
            <div class="col-sm-10">
                <select class="form-control form-select-md" name="category" id="category" required>
                    <option value="" disabled selected hidden>請選擇支出類別</option>
                    <option value="1">家居物業</option>
                    <option value="2">交通出行</option>
                    <option value="3">休閒娛樂</option>
                    <option value="4">餐飲食品</option>
                    <option value="5">其他</option>
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <label for="amount" class="col-sm-2 col-form-label">金額*：</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="amount" id="amount" required>
            </div>
        </div>
        <div class="d-grid gap-2 col-4 mx-auto m-4">
            <button type="submit" class="btn btn-success">新增支出</button>
        </div>
    </form>
</div>
