<a href="/records/new">Create</a>
<ul>
{{#each records}}
    <li>
        <h4>{{this.name}}</h4>
        <p>{{this.date}}</p>
        <p>{{this.amount}}</p>
        <a href="/records/{{this._id}}/edit">edit</a>
    </li>
{{/each}}
</ul>