<form  action="/records" method="POST">
    <div>
        <label for="name">名稱*：</label>
        <input type="text" placeholder="name" name="name" id="name">
    </div>
    <div>
        <label for="date">日期*：</label>
        <input type="text" placeholder="date" name="date" id="date">
    </div>
    <div>
        <label for="category">類別*：</label>
        <input type="text" placeholder="category" name="category" id="category">
    </div>
    <div>
        <label for="amount">金額*：</label>
        <input type="text" placeholder="amount" name="amount" id="amount">
    </div>
    <button type="submit">Create</button>
</form>