<form  action="/records" method="POST">
    <div>
        <label for="name">名稱*：</label>
        <input type="text" placeholder="name" name="name">
    </div>
    <div>
        <label for="date">日期*：</label>
        <input type="text" placeholder="name" name="date">
    </div>
    <div>
        <label for="category">類別*：</label>
        <input type="text" placeholder="name" name="category">
    </div>
    <div>
        <label for="amount">金額*：</label>
        <input type="text" placeholder="name" name="amount">
    </div>
    <button type="submit">create</button>
</form>